@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 0;
    margin: 0;
}

.banner-imgs{
    position: relative;
}

.banner-imgs p{
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
  
    transform: translate(-20%,-50%);
  }

  .ordernow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);

    background-color: rgba(0,0,0,0.7);
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 20px 40px;

    letter-spacing: 2px;

    transition: all 0.3s ease;
  }

  .ordernow:hover{
    background-color: rgba(255,255,255,0.7);
    color: #333;
    transform: translate(-50%,-50%) scale(0.9);
  }